astropy==5.3.1
astroquery==0.4.6
beautifulsoup4==4.12.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
contourpy==1.1.0
cryptography==41.0.2
cycler==0.11.0
fonttools==4.40.0
html5lib==1.1
idna==3.4
importlib-metadata==6.8.0
jaraco.classes==3.3.0
jeepney==0.8.0
keyring==24.2.0
kiwisolver==1.4.4
matplotlib==3.7.2
more-itertools==9.1.0
numpy==1.25.1
packaging==23.1
Pillow==10.0.0
pycparser==2.21
pyerfa==2.0.0.3
pyparsing==3.0.9
python-dateutil==2.8.2
pyvo==1.4.1
PyYAML==6.0
requests==2.31.0
SecretStorage==3.3.3
six==1.16.0
soupsieve==2.4.1
urllib3==2.0.3
webencodings==0.5.1
zipp==3.16.0
